@import '../src/components/TripInfo/TripInfo.scss';
@import "~bootstrap/scss/bootstrap";
@import "../src/components/Input/input.scss";
@import "../src/components/Button/Button.scss";
@import "../src/components/Header/Header.scss";
@import "../src/components/MapView/MarkerPopup.scss";

.leaflet-container {
  width: 100%;
  height: 100vh;
}


*{
  margin: 0 auto;
}
