
.tripInfo{
  background: white;
  // position: relative;
position:absolut;
  // position: fixed;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 285px;
  text-align: center;
  margin-top: -3px;
  z-index: 800;
  position: relative;
  right: 610px;
  top: 100px;

h3{
  font-size: 25px;
  margin: 15px 0 15px 0;
}
  .btnBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: initial;
    margin-bottom: 15px;
  }
}